#header-site-info-inner {
  background: #fff url(images/sun_rising_over_earth_1280.jpg) no-repeat 50% 55%;
  height: 100%;
  padding: 30px 20px;
}

#slogan {
  color: #CC923A;
}

body {
  background: none repeat scroll 0 0 #10291c; /*#122e1f;*/
}


#content-tabs ul.primary li a.active:link, #content-tabs ul.primary li a.active:visited
{
  border-bottom: 4px solid #CC923A;
}

a, a:link, a:visited,
h1 {
  color: #CC923A;
}

dt {
  font-weight: bold;
  font-size: 14px;
}

#primary-menu.block {
  top: 150px;
}

#primary-menu.block .inner {
  background:#000000;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
}

#primary-menu ul.menu {
  /* for IE */
  filter:alpha(opacity=100);
  /* CSS3 standard */
  opacity:1.0;
  font-weight: bold;
}

#page {
  padding: 0 0 0 0;
}

